<html>

<head>
  <title>AngularJS Starter</title>
  <base href="/">
  </base>
  <meta charset="UTF-8" />
</head>

<body ng-app="app">
  <div ng-controller="HelloController">
    I am: <strong>{{person}}</strong>
    <tabs>
      <tab sref="tab({id: 1})">Est cillum</tab>
      <tab sref="tab({id: 2})">Nisi Lorem</tab>
      <tab sref="tab({id: 3})">Officia</tab>
      <tab sref="tab({id: 4})">Cillum nisi</tab>
      <tab sref="tab({id: 7})" ng-if="showExtras">Mollit</tab>
      <tab sref="tab({id: 8})" ng-if="showExtras">Dolor</tab>
      <tab sref="tab({id: 9})" ng-if="showExtras">Fugiat qui labore</tab>
      <tab sref="tab({id: 5})" watch="[one, two]">{{one || "Non deserunt"}}</tab>
      <tab sref="tab({id: 6})" watch="one">{{one || "Eu non elit"}}</tab>
    </tabs>
  </div>
  <script src="src/index.js"></script>
</body>

</html>