* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
}

.tabs-info {
  position: absolute;
  top: calc(100% + 8px);
  left: 12px;
  background: #666;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  &--overflow {
    font-weight: 600;
    color: #ff5555;
  }
}

.tabs {
  position: relative;
}

.tabs-content {
  display: flex;
  flex-wrap: wrap;
}

.tabs-content--measuring {
  flex-wrap: nowrap;
}

.tabs-content--vertical:not(.tabs-content--measuring) {
  flex-direction: column;
}

tab {
  display: flex;
  flex: 0 0 auto;
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: .03em;
}

.tab-link {
  border-bottom: 4px solid gray;
  text-decoration: none;
  color: gray;
}
.tab-link--isActive {
  color: black;
  border-bottom-color: blue;
  font-weight: bold;
}
.tab-link--isFocused {
}